@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif; 
}

button{
    background-color: rgb(255, 0, 0);
    color: antiquewhite;
    padding: 1.25rem;
}
.header-section{
    width: 100%;
    height: 11.25rem;
    background-image: url(../assets/img/nuova-fiat-500-quella-elettrica.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
    background-size: cover;
}

.barra-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    color: antiquewhite;
    padding: 140px;
}

.barra-nav li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px,
}

.section-index1{
    width: 100%;
    height: 31.25rem;
    background-image: url(../assets/img/fiat-section1.jpg);
    background-size:cover;
    flex-wrap: wrap ;
    background-repeat: no-repeat;
}
.logo-imagen-index1{
    width: 400px;
    flex-direction: column;
    align-items: flex-end;
}
.logo-imagen-index1 p{
    background-color: rgb(255, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    width: 18.75rem;
    height: 55px;
    justify-content: center;
    font-size: 1.25rem;
    padding: 20px;
}
.logo-imagen-index1 img{
    width: 80%;
    height: 3.75rem;
}

.section-index2{
    width: 100%;
    height: 31.25rem;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    margin: 1.25rem;
    flex-wrap: wrap;
}
.card1{
    width: 18.75rem;
    height: 25rem;
}

.card1-img img{
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card1-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 1.25rem;

}
.card1-contenido p{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: center;
}
.card2{
    width: 18.75rem;
    height: 25rem;
}

.card2-img img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card2-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 1.25rem;
}
.card2-contenido p{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: center;
}

.card3{
    width: 18.75rem;
    height: 25rem;
}

.card3-img img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card3-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 1.25rem;
}
.card3-contenido p{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: center;
}

.section-index3{
    width: 100%;
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    background-color: lightgrey;
    flex-wrap: wrap;
}
.card4{
    width: 18.75rem;
    height: 25rem;
}

.card4-img img{
    width: 100%;
    height: 10%;
    object-fit: contain;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card4-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 15px;
    color: red;
}

.card4-contenido p{
    font-size: 1.25rem;
    margin-bottom: .75rem;
    justify-content: center;
}

.card5{
    width: 18.75rem;
    height: 25rem;
}

.card5-img img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card5-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 1.25rem;
    color: red;

}
.card5-contenido p{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: center;
}
.card6{
    width: 18.75rem;
    height: 25rem;
}

.card6-img img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 150px;
    margin-bottom: 1.25rem;
}
.card6-contenido h2{
    font-family: "Poppins", sans-serif; 
    font-size: 20px;
    margin-bottom: 1.25rem;
    color: red;

}
.card6-contenido p{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: center;
}









.footer{
    background-color: rgb(114, 112, 112);
    width:100%;
    height: 15rem;
    display: flex;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
}
.barra-footer nav ul li{
    text-decoration: none;
    color: white;
    font-size: 10px;
    justify-content: space-between;
    display: flex;
}
.logo-footer{
    width:31.25rem;
}
h3{
    font-size: 1rem;
    color: antiquewhite;
    text-align: center;   
}
.logo-x{
    width: 6.25rem;
    flex-direction: column;
    align-items: flex-end;
}
.logo-instagram{
    width: 6.25rem;
    text-align: right;
}
.logo-youtube{
    width: 6.25 rem;
    text-align: right;
}
