.section-detalles{
    width: 100%;
    height: 20rem;
    background-color: gray;
    display: flex;
    flex-direction: row;
    margin-top: .9375rem;
}


.titulo-detalles{
    width: 100%;
    height: 3.125rem;
    h1{
        font-size: 1.25rem;
        color: black;
        font-weight: 1000;
        display: flex;
        justify-content: center;
        margin-top: .625rem;
    }
}


.img-detalles1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        height: 18.75rem;
        object-fit: cover;
        border: .125rem dotted black;
        border-radius: .9375rem;
        margin-top: .625rem;
    }
}

.contenido-detalles1{
    width: 50%;
    height: 18.75rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 80px);
    justify-content: center;
    align-items: center;
    h2{
        width: 100%;
        height: 6.25rem;
        font-size: 1.25rem;
        color: rgb(255, 255, 255);
        padding: 2.5rem;
        margin-left: 2.5rem;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    p{
        width: 100%;
        height: 6.25rem;
        font-size: 1.25rem;
        color: black;
        grid-column: 2 / 5;
        grid-row: 3 / 5;
    }

}
.titulo-detalles1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;

}
.titulo-detalles1 h2{
    color: rgb(255, 0, 0);
    font-size: .9375rem;
    display: flex;
    flex-direction: column;
}

.parrafo-detalles1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;

}
.detalles-contenido1 p{
    color: black;
    font-size: .8125rem;
}
.titulo-diseño{
    color: red;
    font-size: 1.25rem;

}
.parrafo-diseño{
    color: black;
    font-size: .9375rem;
}